<section class="verify-account">
    @if (state().loading) {
      <div class="status loading">
        <p>Verifying your account, please wait...</p>
      </div>
    }

    @if (!state().loading && state().message) {
      <div class="status success">
        <p>{{ state().message }}</p>
        <button type="button" class="btn" (click)="closeMessage()">Close</button>
        <!-- <a routerLink="/login" class="link">Go to Login</a> -->
      </div>
    }

    @if (!state().loading && state().error) {
      <div class="status error">
        <p>{{ state().error.message }}</p>
        <button type="button" class="btn" (click)="closeMessage()">Close</button>
        <!-- <a routerLink="/resend-verification" class="link">Resend verification email</a> -->
      </div>
    }

</section>